<div class="form-container">
  <h2 class="form-title">Prijava</h2>
  <form action="login" method="post">
    <input type="text" name="username" placeholder="Uporabniško ime" required class="form-input">
    <input type="password" name="password" placeholder="Geslo" required class="form-input">
    <div class="tp">
      <input type="submit" value="Prijava" class="form-submit">
    </div>
  </form>
</div>
