<div class="form-container">
  <h2 class="form-title">Registracija</h2>
  <form action="/users" method="post">
    Ime
    <input type="text" name="name" placeholder="Name" required class="form-input">
    Priimek
    <input type="text" name="surname" placeholder="Surname" required class="form-input">
    Email
    <input type="text" name="email" placeholder="E-mail" required class="form-input">
    Uporabniško ime
    <input type="text" name="username" placeholder="Username" required class="form-input">
    Geslo
    <input type="password" name="password" placeholder="Password" required class="form-input">
    Ponovi geslo
    <input type="password" name="repeat_password" placeholder="Repeat password" required class="form-input">
    Telefonska številka
    <input type="text" name="phone_number" placeholder="Phone Number" required class="form-input">
    <input type="submit" value="REGISTER" class="form-submit">
  </form>
</div>